h1{
        color: blue;
        font-size: 36px;
        text-align: center;
 }
 h3{
      color: #000;
 }
p{
    font-size: 18px;
    line-height: 1.6px;
}
button{
    background-color:#1d4ced;
    color:white;
    padding: 12px 20px;
    border:none;
    border-radius: 200px;
     margin-bottom: 12px;
}
#hero{
    margin-bottom: 100px;
   color:#000;
   background-color:aliceblue;
        display: flex;
        align-items: center;
        position: relative;
}
.color{
        position: absolute;
        color: white;
        background-color: blue;
        border-radius: 200px;
        padding: 15px 20px;
        top: 15px;
        right: 15px;
        font-family: 15px;
}
.highlight{
    color:#000;
    font-weight: bold;
    margin-bottom: 50px;
}
button:hover{
    background-color: darkblue;
    color:white;
        
}
a:hover{
    color:black;
}
label {
    font-weight: bold;
    color:#111;
    text-align: start;
}
input{
    display:block;
    border-radius: 100px;
    padding: 11px;
    width:100%;
    margin-bottom: 15px;
}
input:focus{
background-color: lightskyblue;
outline: none;
border-color: #222;
}
body {
      background-color: aliceblue;  
}
#hero img{
        width: 40%;
     border-radius: 50px;
        
}
.haha img{
      border-radius:50px;  
        width: 100%;
}
.fff{
   display: flex;
        gap: 20px;
}
section{
        margin-top: 50px;
}
.nav{
        background-color: withe;
        padding: 26px 30px;
        border-radius: 250px;
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
}
.nav h2{
        color: blue;
}
.nav a{
        display: flex;
        gap: 25px;
}
.nav a{
        color: black;
        text-decoration: noun;
        font-weight: bold;
}
.nav a:hover{
        color: blue;
}
.kazkaroty img{
        width:100%;
        border-radius: 20px;
        display: block;
}
.kazkaroty{
        position: relative;
        border-radius: 15px;
        margin-top: 50px;
}
.Goku{
        position: absolute;
        color: black;
        max-width: 400px;
        overflow: hidden;
        font-weight: bold;
}